{% extends "base.html" %}
{% load static %}
{% block title %} Booking Details {% endblock %}
{% block content %}
	<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<p><a href="/bookings">Back to Bookings List</a></p>
		<!--Begin::App-->
		<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
			<!--Begin:: App Aside Mobile Toggle-->
			<button class="kt-app__aside-close" id="kt_user_profile_aside_close">
			<i class="la la-close"></i>
			</button>
			<!--End:: App Aside Mobile Toggle-->
			<!--Begin:: App Aside-->
			<div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
				<!--begin:: Widgets/Applications/User/Profile1-->
				<div class="kt-portlet kt-portlet--height-fluid-">
					<div class="kt-portlet__head  kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
								<i class="flaticon-more-1"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
							</div>
						</div>
					</div>
					<div class="kt-portlet__body kt-portlet__body--fit-y">
						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-1">
							<div class="kt-widget__head">
								<div class="kt-widget__content">
									<div class="kt-widget__section">
										<a href="#" class="kt-widget__username">
											Booking Id: {{ booking.id }}
										</a>
									</div>
									<div class="kt-widget__action">
										<a href="{% url 'edit_booking' pk=booking.pk %}"><button type="button" class="btn btn-info btn-sm">Edit Basic Info</button></a>&nbsp;
										<a href="{% url 'edit_booking_extended' pk=booking.pk %}"><button type="button" class="btn btn-dark btn-sm">Edit Financial Info</button></a>
									</div>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__content">
									<div class="kt-widget__info">
										<span class="kt-widget__label">Customer Name:</span>
										<a href="#" class="kt-widget__data">{{ booking.customer }}</a>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Vehicle:</span>
										<a href="#" class="kt-widget__data">{{ booking.vehicle }}</a>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Driver:</span>
										<a href="#" class="kt-widget__data">{{ booking.driver }}</a>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Start Date:</span>
										<span class="kt-widget__data">{{ booking.opendate }}</span>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Close Date:</span>
										<span class="kt-widget__data">{{ booking.closedate }}</span>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Open Reading:</span>
										<span class="kt-widget__data">{{ booking.openreading }}</span>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Close Reading:</span>
										<span class="kt-widget__data">{{ booking.closereading }}</span>
									</div>
									
								</div>
								<div class="kt-widget__items">
									<a href="custom/apps/user/profile-1/overview.html" class="kt-widget__item kt-widget__item--active">
										<span class="kt-widget__section">
											<span class="kt-widget__desc">
												Booking Overview
											</span>
										</span>
									</a>
									<a href="custom/apps/user/profile-1/personal-information.html" class="kt-widget__item ">
										<span class="kt-widget__section">
											<span class="kt-widget__desc">
												Financial Information
											</span>
										</span>
									</a>
									<a href="custom/apps/user/profile-1/personal-information.html" class="kt-widget__item ">
										<span class="kt-widget__section">
											<span class="kt-widget__desc">
												Uploads
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<!--end::Widget -->
					</div>
				</div>
				<!--end:: Widgets/Applications/User/Profile1-->
			</div>
			<!--End:: App Aside-->
			<!--Begin:: App Content-->
			<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
				<div class="row">
					<div class="col-xl-6">
						<!--begin:: Widgets/Order Statistics-->
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-portlet__head">
								<div class="kt-portlet__head-label">
									<h3 class="kt-portlet__head-title">
									Order Statistics
									</h3>
								</div>
							</div>
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget12">
									<div class="kt-widget12__content">
										<div class="kt-widget12__item">
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Booking Duration</span>
												<span class="kt-widget12__value">{{booking.duration}}</span>
											</div>
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Total Running</span>
												<span class="kt-widget12__value">{{booking.running}} KM</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end:: Widgets/Order Statistics-->
					</div>
					<div class="col-xl-6">
						<!--begin:: Widgets/Order Statistics-->
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-portlet__head">
								<div class="kt-portlet__head-label">
									<h3 class="kt-portlet__head-title">
									Financial Information
									</h3>
								</div>
							</div>
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget12">
									<div class="kt-widget12__content">
										<div class="kt-widget12__item">
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Pending Amount</span>
												<span style= "color: red" class="kt-widget12__value">Rs. {{booking_extended.amount_pending}}</span>
											</div>
										</div>
										<div class="kt-widget12__item">
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Total Amount Receivable</span>
												<span class="kt-widget12__value">Rs. {{booking_extended.amount_receivable}}</span>
											</div>
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Total Amount Received</span>
												<span class="kt-widget12__value">Rs. {{booking_extended.amount_received}}</span>
											</div>
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Booking Expenses</span>
												<span style= "color: #0571F7" class="kt-widget12__value">Rs. {{booking_extended.booking_expenses}}</span>
											</div>
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Our actual Income</span>
												<span style= "color: green" class="kt-widget12__value">Rs. {{booking_extended.our_income}}</span>
											</div>
										</div>
										<div class="kt-widget12__item">
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Amount Breakdown / Description</span>
												<span class="kt-widget12__value">{{booking_extended.receivable_breakdown}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end:: Widgets/Order Statistics-->
					</div>
				</div>
			</div>
			<!--End:: App Content-->
		</div>
		<!--End::App-->
	</div>
	<!-- end:: Content -->
{% endblock %}