{% extends "base.html" %}
{% load static %}
{% block title %} Driver Details {% endblock %}
{% block content %}
	<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<p><a href="/drivers">Back to Drivers List</a></p>
		<!--Begin::App-->
		<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
			<!--Begin:: App Aside Mobile Toggle-->
			<button class="kt-app__aside-close" id="kt_user_profile_aside_close">
			<i class="la la-close"></i>
			</button>
			<!--End:: App Aside Mobile Toggle-->
			<!--Begin:: App Aside-->
			<div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
				<!--begin:: Widgets/Applications/User/Profile1-->
				<div class="kt-portlet kt-portlet--height-fluid-">
					<div class="kt-portlet__head  kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
								<i class="flaticon-more-1"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
							</div>
						</div>
					</div>
					<div class="kt-portlet__body kt-portlet__body--fit-y">
						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-1">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img src="{% static 'assets/media/users/100_13.jpg' %}" alt="image">
								</div>
								<div class="kt-widget__content">
									<div class="kt-widget__section">
										<a href="#" class="kt-widget__username">
											{{ driver.name }}
										</a>
										<span class="kt-widget__subtitle">
											Driver Id: {{ driver.id }}
										</span>
									</div>
									<div class="kt-widget__action">
										<a href="{% url 'edit_driver' pk=driver.pk %}"><button type="button" class="btn btn-info btn-sm">Edit</button></a>&nbsp;
										<button type="button" class="btn btn-dark btn-sm">Delete</button>
									</div>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__content">
									<div class="kt-widget__info">
										<span class="kt-widget__label">Email:</span>
										<a href="#" class="kt-widget__data">{{ driver.email}}</a>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Phone:</span>
										<a href="#" class="kt-widget__data">{{driver.mobile_number}}</a>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Address:</span><br>
										<span class="kt-widget__data" style="width:70%; text-align: right;">{{ driver.address}}</span>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">License Expiry:</span><br>
										<span class="kt-widget__data" style="width:70%; text-align: right;">{{ driver.license_expiry}}</span>
									</div>
									<div class="kt-widget__info">
										<span class="kt-widget__label">Badge Expiry:</span><br>
										<span class="kt-widget__data" style="width:70%; text-align: right;">{{ driver.badge_expiry}}</span>
									</div>
								</div>
								<div class="kt-widget__items">
									<a href="custom/apps/user/profile-1/overview.html" class="kt-widget__item kt-widget__item--active">
										<span class="kt-widget__section">
											<span class="kt-widget__desc">
												Profile Overview
											</span>
										</span>
									</a>
									<a href="custom/apps/user/profile-1/personal-information.html" class="kt-widget__item ">
										<span class="kt-widget__section">
											<span class="kt-widget__desc">
												Incentive/Bata Details
											</span>
										</span>
									</a>
									<a href="custom/apps/user/profile-1/personal-information.html" class="kt-widget__item ">
										<span class="kt-widget__section">
											<span class="kt-widget__desc">
												Uploads
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<!--end::Widget -->
					</div>
				</div>
				<!--end:: Widgets/Applications/User/Profile1-->
			</div>
			<!--End:: App Aside-->
			<!--Begin:: App Content-->
			<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
				<div class="row">
					<div class="col-xl-6">
						<!--begin:: Widgets/Order Statistics-->
						<div class="kt-portlet kt-portlet--height-fluid">
							<div class="kt-portlet__head">
								<div class="kt-portlet__head-label">
									<h3 class="kt-portlet__head-title">
									Order Statistics
									</h3>
								</div>
							</div>
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget12">
									<div class="kt-widget12__content">
										<div class="kt-widget12__item">
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Lifetime Order Value</span>
												<span class="kt-widget12__value">Rs. 1,00,000</span>
											</div>
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Driver Since</span>
												<span class="kt-widget12__value">July 24,2019</span>
											</div>
										</div>
										<div class="kt-widget12__item">
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Average Order Size</span>
												<span class="kt-widget12__value">Rs. 3,862.71</span>
											</div>
											<div class="kt-widget12__info">
												<span class="kt-widget12__desc">Revenue Margin</span>
												<div class="kt-widget12__progress">
													<div class="progress kt-progress--sm">
														<div class="progress-bar kt-bg-brand" role="progressbar" style="width: 40%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<span class="kt-widget12__stat">
														40%
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="kt-widget12__chart" style="height:250px;">
										<canvas id="kt_chart_order_statistics"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!--end:: Widgets/Order Statistics-->
					</div>
					<div class="col-xl-6">
						
					</div>
				</div>
			</div>
			<!--End:: App Content-->
		</div>
		<!--End::App-->
	</div>
	<!-- end:: Content -->
{% endblock %}